* {
    padding: 0;
    margin: 0;
    font-family: 'calibri';
}

/* css for titlePage  */

.titlePage {
    height: 730px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2f3043;
}
video {
    position: fixed;
}


#elements {
    position: relative;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-top: 148px;
    margin-left: 270px;
}

h1 {
    font-size: 60px;
}

#desig {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#explore {
    border: none;
    height: 40px;
    width: 160px;
}

#explore:hover {
    cursor: pointer;
}

/* css for Pages */

.secondPage, .fourthPage {
    background-color: #FDFCF2;
    height: 730px;
}

.thirdPage, .aboutPage {
    height: 730px;
    background-color: #F5F3E5;
}

/* css for navbar */
#navBar {
    width: 100%;
    position: fixed;
    background-color: #2f3043;
    height: 80px;
    top: 0;
    transition: transform 0.2s;
}

.nav--hidden {
    transform: translateY(-80px);
}

#navBar a {
    color: white;
}

.active-link {
    border-bottom: 1px solid;
    padding: 0 50px 10px 50px;
}

.active-link:hover, .active-link:focus {
    border-width: 4px;
}


#back-to-top {
    bottom: 0;
    position: fixed;
    right: 0;
    margin-bottom: 80px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
    background: transparent;
}

#back-to-top:hover {
    cursor: pointer;
    transform: scale(1.07);
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }




#nameLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 40px;
}


#works,
#about {
    text-decoration: none;
    color: white;
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 8px;
}


/* css for footer */

.footer {
    height: 74px;
    background-color: rgb(213, 213, 213);

}

.footer p {
    margin-left: 484px;
    margin-top: 28px;
    display: inline-block;
    color: white;
}

#icons {
    display: inline-block;
    float: right;
    margin-top: 18px;
    margin-right: 484px;
}

.icon-elements {
    margin-left: 10px;
    height: 28px;
    width: 28px;
}

/* css for images */

.card-images {
    height: 330px;
    width: 640px;
    border-radius: 10px;
    float: right;
    margin-right: 30px;
    margin-top: 75px;
    display: inline-block;
}

/* css for card */

.card {
    height: 480px;
    width: 1078px;
    display: inline-block;
    padding: auto;
    margin-top: 125px;
    margin-left: 254px;
    /* background-color: #565668; */
    background-image: linear-gradient(#2f3043, #8d8d95);
    border-radius: 10px;
    box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.4);
}

.description {
    padding: 10px;
    text-align: right;
    display: inline-block;
    height: 180px;
    margin-top: 150px;
    margin-left: 20px;
    width: 320px;
    color: white;
}

.learn-more {
    border: none;
    width : 100px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
    color: #2f3043;
    box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.4);
    margin-top: 28px;
    background-color: white;
}

.learn-more:hover {
    cursor: pointer;
    transform: scale(1.07);
}